/*
   @author Trevor Wilkins
   @editor Justin Henke
*/



/*
Styling post containers
*/
.post {
    padding: 10px;
    margin: 20px 0;
}

.post p{
    margin-bottom: 0.25em;
}

.post-holder {
    display: flex;
}
/*
Styling post data fields
*/
.user-and-date {
    text-align: right;
    line-height: 50%;
}

.question, .company, .job-title, .date-asked, .tags {
    text-align: left;
    padding: 0 5px;
    margin: 0.25em 0;
}

.question {
    color: white;
    background-color: #00a261;
    border-radius: 5px;
    padding: 10px 5px;
}

.company {
    font-size: 1.1em;
}

.date-asked {
    font-size: 0.8em;
}

.tags {
    padding-top: 5px;
    display: block;
}



.rating {
    margin: 5px 0;
}
.rating-panel, .post-box {
    margin: 0 5px 0 5px;  
    padding: 0 5px 0 0; 
}

.rating-panel {
    width: 10%;
    min-width: 60px;
    max-height: 120px;
    border-right: 1px solid #c8c8be;
} 

.post-box {
    width: 90%;
    
}

.tag {
    border-radius: 2em;
    background-color: #006f42;
    padding: 2px 5px;
    margin: 0px 3px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
} 


/*
Styling rating scheme
*/
.icon {
    font-size: 32px;
}
.pointer {cursor: pointer;}

.upvote {
    color: #006f42;
}
.dnvote {
    color: #A30041;
}


/*
Button for deleting posts
*/
.btn-delete {
    line-height: 75%;
    padding-bottom: 5px;
    color: white;
    font-size: 1.3em;
    margin: 0px 5px;
    border: solid;
    border-color: black;
    border-width: 0px;
    border-radius: 0.4em;
    background-image: linear-gradient(45deg, #b53266, #A30041);
    box-shadow: 0 5px #510020;
 }
 
 .btn-delete:hover{
    background-image: linear-gradient(45deg, #c7668d, #b53266);
 }
 
 .btn-delete:active{
    box-shadow: 0 2px #510020;
    transform: translateY(3px);
 }
/*
   Breakpoint control
*/
@media only screen and (max-width: 500px) {
    .user-and-date {
        text-align: right;
        line-height: 100%;
    }
  }