/*
   @author Trevor Wilkins
   @editor Justin Henke
*/


/*
Navigation bar styling
*/
.navbar-custom {
   color: black;
   background-color: #f0f0e6;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-bottom-color: #c8c8be;
}
#navbar {
   margin-bottom:15em;
}

#xyzLogo-btn{
   max-width: 120px;
   max-height: 120px;
}

#xyzLogo{
   width: 100%;
   max-width: 120px;
}
#xyzBrand{
   padding: 0px;
}
ul {
   display: inline;
}
#xyz-brand-inner-text {
   font-size: 1.4em;
   margin-left: 0px;
   list-style: none;
   text-align: left;
   vertical-align: middle;
   padding-inline-start: 0px;
   display: inline;
}
#log-out-button{
   font-size: 1.4em;
   padding: 0px 15px;
   margin: 0px 5px;
}

 #logoutPane {
    text-align: right;
    display: inline;
 }
 @media only screen and (max-width: 450px) {
   #navbar {
      padding-right: 0px;
   }
   #xyzLogo{
      max-width: 75px;
   }
   #xyzLogo-btn{
      max-width: 75px;
      max-height: 75px;
      padding-right: 0px;
      margin-right: 5px;
   }
 }



/*
 General page styling
*/

a {
   text-decoration: none;
}

h1 {
   text-align: center;
}

.panel {
   background-color: #f0f0e6;
   border-radius: 5px;
   border-width: 1px;
   border-style: solid;
   border-color: #c8c8be;
}


.btn-custom {
   color: white;
   font-size: 1.2em;
   border: solid;
   border-color: black;
   border-width: 0px;
   border-radius: 0.4em;
   background-image: linear-gradient(45deg, #00bc70, #006f42);
   box-shadow: 0 5px #005633;
}

.btn-custom:hover{
   background-image: linear-gradient(45deg, #00d580, #008952);
}

.btn-custom:active{
   box-shadow: 0 2px #005633;
   transform: translateY(3px);
}



/*
   Search and Post creation classes
*/

.field-row {
   text-align: left;
   padding: 0px 10px 0px 10px;
   width: 100%
}

.at-label{
   width: 25%;
   min-width: 100px;
}

.at-field {
   min-width: 100px;
   min-height: 2em;
   width: 65%;
   padding: 0.1em;
   margin: 5px 0px 5px 0px;
   border-color: #00a261;
   border-style: solid;
   border-width: 1px;
}




/*
   Animation for backspacing in an empty text field
*/
@keyframes backspace {

   50% {
      transform: translate(-3px, 0px);
   }
   100% {
      transform: translate(3px, 0px);
   }
}

.backspace {
   animation: backspace;
   animation-duration: 0.1s;
}



/*
   Animation for invalid input
*/
@keyframes failed-input {
   10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
    0%{
      box-shadow: 0px 0px 0px 0px #a30041;
      border-color: #a30041;
      }
   20%, 80% {
      box-shadow: 0px 0px 15px 0px #a30041;
      border-color: #a30041;
   }
   100%{
      box-shadow: 0px 0px 0px 0px #a30041;
      border-color: #a30041;
   }
 }


.shake {
   animation: failed-input;
   animation-duration: 0.5s;
}