/*
   @author Justin Henke
   @editor Trevor Wilkins
*/


/*
Content block styling for the post creation page
*/

#createPostForm {
   padding: 25px 0 10px 0;
   max-width: 1000px;
}

#return-home,#create-post {
   max-width: 300px;
   min-width: 150px;
   margin: 20px 10px 20px 10px;
}

#submit-question {
   text-align: center;
}